<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	siscab</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		ServletLogin</display-name>
		<servlet-name>ServletLogin</servlet-name>
		<servlet-class>
		controle.ServletLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLogin</servlet-name>
		<url-pattern>/ServletLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
			<display-name>
		ServletNovoUsuario</display-name>
		<servlet-name>ServletNovoUsuario</servlet-name>
		<servlet-class>
		controle.ServletNovoUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NovoUsuarioServlet</display-name>
		<servlet-name>NovoUsuarioServlet</servlet-name>
		<servlet-class>
		controle.NovoUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BuscarUsuario</display-name>
		<servlet-name>BuscarUsuario</servlet-name>
		<servlet-class>
		controle.BuscarUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EditaUsuario</display-name>
		<servlet-name>EditaUsuario</servlet-name>
		<servlet-class>
		controle.EditaUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ObmControle</display-name>
		<servlet-name>ObmControle</servlet-name>
		<servlet-class>
		controle.ObmControle</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EditaOBM</display-name>
		<servlet-name>EditaOBM</servlet-name>
		<servlet-class>
		controle.EditaOBM</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CrudOBM</display-name>
		<servlet-name>CrudOBM</servlet-name>
		<servlet-class>
		controle.CrudOBM</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RegistrarChamado</display-name>
		<servlet-name>RegistrarChamado</servlet-name>
		<servlet-class>
		controle.RegistrarChamado</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LocalizaOcorrencia</display-name>
		<servlet-name>LocalizaOcorrencia</servlet-name>
		<servlet-class>
		controle.LocalizaOcorrencia</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FinalizarChamadoIniciarAtendimento</display-name>
		<servlet-name>FinalizarChamadoIniciarAtendimento</servlet-name>
		<servlet-class>
		controle.FinalizarChamadoIniciarAtendimento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EfetivaAtendimento</display-name>
		<servlet-name>EfetivaAtendimento</servlet-name>
		<servlet-class>
		controle.EfetivaAtendimento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AcompanharAtendimentos</display-name>
		<servlet-name>AcompanharAtendimentos</servlet-name>
		<servlet-class>
		controle.AcompanharAtendimentos</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EditaAtendimento</display-name>
		<servlet-name>EditaAtendimento</servlet-name>
		<servlet-class>
		controle.EditaAtendimento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AplicaAcaoAtendimentoDiversasOpcoes</display-name>
		<servlet-name>AplicaAcaoAtendimentoDiversasOpcoes</servlet-name>
		<servlet-class>
		controle.AplicaAcaoAtendimentoDiversasOpcoes</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AlteraAtendimento</display-name>
		<servlet-name>AlteraAtendimento</servlet-name>
		<servlet-class>
		controle.AlteraAtendimento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ViaturasControle</display-name>
		<servlet-name>ViaturasControle</servlet-name>
		<servlet-class>
		controle.ViaturasControle</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CRUDViatura</display-name>
		<servlet-name>CRUDViatura</servlet-name>
		<servlet-class>
		controle.CRUDViatura</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EditaViatura</display-name>
		<servlet-name>EditaViatura</servlet-name>
		<servlet-class>
		controle.EditaViatura</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CrudVitima</display-name>
		<servlet-name>CrudVitima</servlet-name>
		<servlet-class>
		controle.CrudVitima</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EditaVitima</display-name>
		<servlet-name>EditaVitima</servlet-name>
		<servlet-class>
		controle.EditaVitima</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControlaServico</display-name>
		<servlet-name>ControlaServico</servlet-name>
		<servlet-class>
		controle.ControlaServico</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NovaMovimentacaoViatura</display-name>
		<servlet-name>NovaMovimentacaoViatura</servlet-name>
		<servlet-class>
		controle.NovaMovimentacaoViatura</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EditaEvento</display-name>
		<servlet-name>EditaEvento</servlet-name>
		<servlet-class>
		controle.EditaEvento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CrudTipoEvento</display-name>
		<servlet-name>CrudTipoEvento</servlet-name>
		<servlet-class>
		controle.CrudTipoEvento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TotalChamados</display-name>
		<servlet-name>TotalChamados</servlet-name>
		<servlet-class>
		controle.TotalChamados</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DespacharViatura</display-name>
		<servlet-name>DespacharViatura</servlet-name>
		<servlet-class>
		controle.DespacharViatura</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AssociaViaturaAtendimento</display-name>
		<servlet-name>AssociaViaturaAtendimento</servlet-name>
		<servlet-class>
		controle.AssociaViaturaAtendimento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TransferirAtendimento</display-name>
		<servlet-name>TransferirAtendimento</servlet-name>
		<servlet-class>
		controle.TransferirAtendimento</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>
		RepasseAtendimento</display-name>
		<servlet-name>RepasseAtendimento</servlet-name>
		<servlet-class>
		controle.RepasseAtendimento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EfetivaRepasseAtendimento</display-name>
		<servlet-name>EfetivaRepasseAtendimento</servlet-name>
		<servlet-class>
		controle.EfetivaRepasseAtendimento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		IniciaTotalChamadosPorNatureza</display-name>
		<servlet-name>IniciaTotalChamadosPorNatureza</servlet-name>
		<servlet-class>
		controle.IniciaTotalChamadosPorNatureza</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TotalChamadosPorNatureza</display-name>
		<servlet-name>TotalChamadosPorNatureza</servlet-name>
		<servlet-class>
		controle.TotalChamadosPorNatureza</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FinalizaAtendimentoPorModoFechamento</display-name>
		<servlet-name>FinalizaAtendimentoPorModoFechamento</servlet-name>
		<servlet-class>
		controle.FinalizaAtendimentoPorModoFechamento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PreparaNovaMovimentacaoViatura</display-name>
		<servlet-name>PreparaNovaMovimentacaoViatura</servlet-name>
		<servlet-class>
		controle.PreparaNovaMovimentacaoViatura</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LiberarViaturasFecharAtendimento</display-name>
		<servlet-name>LiberarViaturasFecharAtendimento</servlet-name>
		<servlet-class>
		controle.LiberarViaturasFecharAtendimento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Logoff</display-name>
		<servlet-name>Logoff</servlet-name>
		<servlet-class>
		controle.Logoff</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AdministracaoUsuario</display-name>
		<servlet-name>AdministracaoUsuario</servlet-name>
		<servlet-class>
		controle.AdministracaoUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BuscarViatura</display-name>
		<servlet-name>BuscarViatura</servlet-name>
		<servlet-class>
		controle.BuscarViatura</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ConsultaViaturas</display-name>
		<servlet-name>ConsultaViaturas</servlet-name>
		<servlet-class>
		controle.ConsultaViaturas</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletNovoUsuario</servlet-name>
		<url-pattern>/ServletNovoUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NovoUsuarioServlet</servlet-name>
		<url-pattern>/NovoUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarUsuario</servlet-name>
		<url-pattern>/BuscarUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditaUsuario</servlet-name>
		<url-pattern>/EditaUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ObmControle</servlet-name>
		<url-pattern>/ObmControle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditaOBM</servlet-name>
		<url-pattern>/EditaOBM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudOBM</servlet-name>
		<url-pattern>/CrudOBM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrarChamado</servlet-name>
		<url-pattern>/RegistrarChamado</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LocalizaOcorrencia</servlet-name>
		<url-pattern>/LocalizaOcorrencia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinalizarChamadoIniciarAtendimento</servlet-name>
		<url-pattern>/FinalizarChamadoIniciarAtendimento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EfetivaAtendimento</servlet-name>
		<url-pattern>/EfetivaAtendimento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AcompanharAtendimentos</servlet-name>
		<url-pattern>/AcompanharAtendimentos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditaAtendimento</servlet-name>
		<url-pattern>/EditaAtendimento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AplicaAcaoAtendimentoDiversasOpcoes</servlet-name>
		<url-pattern>/AplicaAcaoAtendimentoDiversasOpcoes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlteraAtendimento</servlet-name>
		<url-pattern>/AlteraAtendimento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViaturasControle</servlet-name>
		<url-pattern>/ViaturasControle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CRUDViatura</servlet-name>
		<url-pattern>/CRUDViatura</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditaViatura</servlet-name>
		<url-pattern>/EditaViatura</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudVitima</servlet-name>
		<url-pattern>/CrudVitima</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditaVitima</servlet-name>
		<url-pattern>/EditaVitima</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlaServico</servlet-name>
		<url-pattern>/ControlaServico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NovaMovimentacaoViatura</servlet-name>
		<url-pattern>/NovaMovimentacaoViatura</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditaEvento</servlet-name>
		<url-pattern>/EditaEvento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudTipoEvento</servlet-name>
		<url-pattern>/CrudTipoEvento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TotalChamados</servlet-name>
		<url-pattern>/TotalChamados</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DespacharViatura</servlet-name>
		<url-pattern>/DespacharViatura</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssociaViaturaAtendimento</servlet-name>
		<url-pattern>/AssociaViaturaAtendimento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferirAtendimento</servlet-name>
		<url-pattern>/TransferirAtendimento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RepasseAtendimento</servlet-name>
		<url-pattern>/RepasseAtendimento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EfetivaRepasseAtendimento</servlet-name>
		<url-pattern>/EfetivaRepasseAtendimento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IniciaTotalChamadosPorNatureza</servlet-name>
		<url-pattern>/IniciaTotalChamadosPorNatureza</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TotalChamadosPorNatureza</servlet-name>
		<url-pattern>/TotalChamadosPorNatureza</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinalizaAtendimentoPorModoFechamento</servlet-name>
		<url-pattern>/FinalizaAtendimentoPorModoFechamento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreparaNovaMovimentacaoViatura</servlet-name>
		<url-pattern>/PreparaNovaMovimentacaoViatura</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LiberarViaturasFecharAtendimento</servlet-name>
		<url-pattern>/LiberarViaturasFecharAtendimento</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logoff</servlet-name>
		<url-pattern>/Logoff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdministracaoUsuario</servlet-name>
		<url-pattern>/AdministracaoUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarViatura</servlet-name>
		<url-pattern>/BuscarViatura</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaViaturas</servlet-name>
		<url-pattern>/ConsultaViaturas</url-pattern>
	</servlet-mapping>
		<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>  
    <exception-type>java.lang.RuntimeException</exception-type>  
    <location>/erro.jsp</location>  
   </error-page> 
</web-app>
