<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/siscab</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>
  	    <mapping class="modelo.obm"/>
  	    <mapping class="modelo.Usuario"/>
	    <mapping class="modelo.Municipio"/>
	    <mapping class="modelo.Chamado"/>
	    <mapping class="modelo.Atendimentos"/>
	    <mapping class="modelo.Viatura"/>	
  	   	<mapping class="modelo.VitimaAtendida"/>
  	   	<mapping class="modelo.TipoViatura"/>
  	   	<mapping class="modelo.TiposOcorrencia"/>
  	   	<mapping class="modelo.NaturezaChamados"/>
  	   	<mapping class="modelo.TiposServicos"/>
  	   	<mapping class="modelo.ServicoRealizado"/>
  	   	<mapping class="modelo.MovimentaViatura"/>
  	   	<mapping class="modelo.CronoAtendimento"/>
  	   	
  	   	
  	   	
  	   	
  	   	
  	   	
  	   	
  	    
  	    
	</session-factory>

</hibernate-configuration>    
   
   
