<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	siscab</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		ServletLogin</display-name>
		<servlet-name>ServletLogin</servlet-name>
		<servlet-class>
		controle.ServletLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLogin</servlet-name>
		<url-pattern>/ServletLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
			<display-name>
		ServletNovoUsuario</display-name>
		<servlet-name>ServletNovoUsuario</servlet-name>
		<servlet-class>
		controle.ServletNovoUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NovoUsuarioServlet</display-name>
		<servlet-name>NovoUsuarioServlet</servlet-name>
		<servlet-class>
		controle.NovoUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BuscarUsuario</display-name>
		<servlet-name>BuscarUsuario</servlet-name>
		<servlet-class>
		controle.BuscarUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EditaUsuario</display-name>
		<servlet-name>EditaUsuario</servlet-name>
		<servlet-class>
		controle.EditaUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ObmControle</display-name>
		<servlet-name>ObmControle</servlet-name>
		<servlet-class>
		controle.ObmControle</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EditaOBM</display-name>
		<servlet-name>EditaOBM</servlet-name>
		<servlet-class>
		controle.EditaOBM</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CrudOBM</display-name>
		<servlet-name>CrudOBM</servlet-name>
		<servlet-class>
		controle.CrudOBM</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RegistrarChamado</display-name>
		<servlet-name>RegistrarChamado</servlet-name>
		<servlet-class>
		controle.RegistrarChamado</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LocalizaOcorrencia</display-name>
		<servlet-name>LocalizaOcorrencia</servlet-name>
		<servlet-class>
		controle.LocalizaOcorrencia</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletNovoUsuario</servlet-name>
		<url-pattern>/ServletNovoUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NovoUsuarioServlet</servlet-name>
		<url-pattern>/NovoUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarUsuario</servlet-name>
		<url-pattern>/BuscarUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditaUsuario</servlet-name>
		<url-pattern>/EditaUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ObmControle</servlet-name>
		<url-pattern>/ObmControle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditaOBM</servlet-name>
		<url-pattern>/EditaOBM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudOBM</servlet-name>
		<url-pattern>/CrudOBM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrarChamado</servlet-name>
		<url-pattern>/RegistrarChamado</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LocalizaOcorrencia</servlet-name>
		<url-pattern>/LocalizaOcorrencia</url-pattern>
	</servlet-mapping>
		<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>  
    <exception-type>java.lang.RuntimeException</exception-type>  
    <location>/erro.jsp</location>  
   </error-page> 
</web-app>
